.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: url(../images/header_bg.png)
}

.header .hd_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
    height: 80px;
}

.header h1 img {
    height: 80px;
    transform: translate(0, 4px);
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .gnb {
    flex: 1;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    background: #fff;


    transition: 0.4s;
}

.header .gnb:hover::before {
    height: 200px;
}

.header .gnb>ul {
    gap: 140px;
    display: flex;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 80px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>ul {
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    height: 0;
    overflow: hidden;
    transition: 0.2s;
    margin-top: -16px;
    color: #fa7000;
}

.header .gnb:hover>ul>li>ul {
    height: 200px;
}

.header .gnb>ul>li>ul a {
    display: block;
    line-height: 32px;
    padding: 0 24px;
    text-align: center;
    margin-top: -2px;

    white-space: nowrap;
}

.header .gnb>ul>li>ul li~li a {
    border-top: 1px solid #ddd;
}

.main_visual {
    position: relative;
    background: url(../images/top-bg.png);
}

.main_visual .main_visual_slide {
    padding: 80px 80px;
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 70vh;

}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1530px;
    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);

    width: 80px;
    height: 80px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_visual .wheel {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    height: 100px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.main_visual .wheel::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 32px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 16px;
}

.main_visual .wheel::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 8px;
    background: #fff;
    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 4px);
    }
}

.main_product {
    position: relative;
}

.main_product .inner {
    overflow: hidden;
}

.main_product .main_product_slide {
    margin: 0 -15px;
}

.main_product .itm {
    margin: 0 15px;
}

.main_product .itm img {
    background: #f9f9f9;
}

.main_product .itm p {
    margin-top: 16px;
    text-align: center;
    word-break: keep-all;
}

.main_product .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}

.main_product .arrows button {
    position: absolute;


    width: 40px;
    height: 40px;
    background: #fa7000
}

.main_product .arrows .prev {
    left: 0;
}

.main_product .arrows .next {
    right: 0;
}

.main_product .slick-dots {
    display: flex;
    gap: 8px;
    margin-top: 24px;
    justify-content: center;
}

.main_product .slick-dots li button {
    background: #333;
    color: #fff;

    width: 16px;
    height: 16px;

    font-size: 12px;
    border-radius: 50%;
}

.main_product .slick-dots li.slick-active button {
    background: #fa7000;
}

.main_content {
    background: #f9f9f9;
}

.main_content .tab_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.test05 {
    background: #f8f4f1;
}

.test05 .inner {
    display: flex;
    gap: 30px;
}

.test05 .itm {
    position: relative;
    display: block;
    background: #fff;
    margin-bottom: 8px;
    padding: 32px;

    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.test05 .itm h2 {
    margin-top: 16px;
}

.test05 .itm p {
    font-size: 16px;
    font-weight: 600;

    margin-top: 16px;
}

.test05 .itm::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 1px solid #fa7000;
    border-left: 1px solid #fa7000;

    transition: 0.4s;

    visibility: hidden;
}

.test05 .itm:hover::before {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.test05 .itm::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid #fa7000;
    border-right: 1px solid #fa7000;

    transition: 0.4s;

    visibility: hidden;
}

.test05 .itm:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.footer {
    padding: 80px 0;
    background: #fa7000;
}

.footer .sns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer .customer {
    display: flex;
    justify-content: center;
    gap: 32px;

    margin-top: 24px;
}

.footer .customer li {
    position: relative;
}

.footer .customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.5em;
    background: #000;
}

.footer .customer a {
    color: #fff;
}

.footer .tel {
    margin-top: 8px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.footer address {
    margin-top: 24px;
    color: #000;
    text-align: center;

    font-size: 12px;
    line-height: 16px;
}

.footer .f_lnk {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer #lnk {
    background: #333;
    height: 40px;
    padding: 0 16px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #ddd;
}

.footer .login {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 24px;
    color: #fff;
}

.footer .login li {
    position: relative;
}

.footer .login li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.5em;
    background: #000;
}

.to_top {
    position: fixed;
    bottom: 200px;
    right: 120px;
}

.to_top button {
    width: 40px;
    height: 40px;
    background: #000;
}